.container {
  display: grid;
  justify-items: center;
  align-items: center;

  margin: 20px;
}
.title {
  color: #fff;
  text-align: center;
}
.btn {
  width: 100px;
}
.box {
  width: 200px;
  border: solid 1px #fff;
  color: #fff;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}
.boxTitle {
  align-self: center;
  justify-self: center;
}
