body,
div,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background-color: #2e3038;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* the component styles */

/* APP IN GENERAL */
.app {
  margin-top: 50px;
  display: grid;
  font-family: "Courier New", Courier, monospace;
}
.app .app-name {
  text-align: center;
  font-weight: bold;
  color: #fff;
}

/* CARDS */
.card-box {
  display: grid;
  justify-items: center;
}
.card {
  width: 50vw;
  display: grid;
  justify-items: center;
  margin: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #fff;
  color: #2e3038;
}
.card .btn {
  margin: 10px 0;
  color: #fff;
  background-color: rgba(46, 48, 56, 1);
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 3px 20px;
}
.card .btn:hover {
  background-color: rgba(46, 48, 56, 0.7);
  cursor: pointer;
}
.card .todo {
  margin-top: 20px;
  width: 90%;
  text-align: center;
}

/* MODALS */
.modal-box {
  /* width: 300px;
  height: 100px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgba(46, 48, 56, 1); */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(96, 104, 125, 0.4);
}
.modal {
  width: 300px;
  height: 100px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgba(46, 48, 56, 1);
}
.modal .btn {
  margin: 0 20px;
  padding: 5px 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.modal .btn {
  cursor: pointer;
}
.modal .btn:nth-of-type(1) {
  border: rgba(46, 48, 56, 1) 1px solid;
  background-color: #fff;
  color: #2e3038;
}
.modal .btn:nth-of-type(1):hover {
  background-color: rgba(46, 48, 56, 0.15);
}
.modal .btn:nth-of-type(2) {
  border: none;
  background-color: rgba(46, 48, 56, 1);
  color: #fff;
}
.modal .btn:nth-of-type(2):hover {
  background-color: rgba(46, 48, 56, 0.9);
}
